/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    height: 100vh;
}
div.container{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 100%;
}
div.container ul{
    column-count: 2;
    column-gap: 10px;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    height: 500px;
}
div.container ul li{
    height: 60px;
    border:  1px solid black;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    
}
div.container ul li:hover{
    height: 100px;
} */